@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div>
        <label>Longitude</label>
        <input id="inputLon" type="number" min="-90" max="90"/>

        <label>Latitude</label>
        <input id="inputLat" type="number" min="-90" max="90"/>

        <button id="submit">Send</button>
    </div>

    <p>Longitude</p>
    <p id="Lon"></p>

    <p>Latitude</p>
    <p id="Lat"></p>

    <p>Temperature</p>
    <p id="Temp"></p>

    <p>Feels like</p>
    <p id="FeelsLike"></p>

    <p>Minimun temperature</p>
    <p id="TempMin"></p>

    <p>Maximum temperature</p>
    <p id="TempMax"></p>

    <p>Pressure</p>
    <p id="Pressure"></p>

    <p>Humidity</p>
    <p id="Humidity"></p>

    <p>Visibility</p>
    <p id="Visibility"></p>

    <p>Wind speed</p>
    <p id="WindSpeed"></p>

    <p>Wind degree</p>
    <p id="WindDeg"></p>

    <p>Wind gust</p>
    <p id="WindGust"></p>

    <p>Cloudyness</p>
    <p id="Cloudyness"></p>

    <p>Country</p>
    <p id="Country"></p>

    <p>City</p>
    <p id="City"></p>

    <p>Icon</p>
    <img id="Icon" />
</div>